[package]
name = "finality-grandpa"
version = "0.8.0"
description = "PBFT-based finality gadget for blockchains"
authors = ["Parity Technologies <admin@parity.io>"]
license = "Apache-2.0"
repository = "https://github.com/paritytech/finality-grandpa"
edition = "2018"

[dependencies]
parking_lot = "0.6"
log = "0.4"
futures = "0.1"
parity-codec = { version = "4.1", optional = true, default-features = false, features = ["derive"] }
num = { package = "num-traits", version = "0.2" }
hashmap_core = { version = "0.1.10", default-features = false }

[dev-dependencies]
exit-future = "0.1.2"
rand = "0.6.0"
tokio = "0.1.8"

[features]
default = ["std"]
std = ["parity-codec/std", "hashmap_core/disable"]
derive-codec = ["parity-codec"]
