[package]
name = "finality-grandpa"
version = "0.6.0"
description = "PBFT-based finality gadget for blockchains"
authors = ["Parity Technologies <admin@parity.io>"]
license = "GPL-3.0"
repository = "https://github.com/paritytech/finality-grandpa"
edition = "2018"

[dependencies]
parking_lot = "0.6"
log = "0.4"
futures = "0.1"
parity-codec = { version = "3.0", optional = true }
parity-codec-derive = { version = "3.0", optional = true }
num-traits = "0.2"

[dev-dependencies]
exit-future = "0.1.2"
rand = "0.6.0"
tokio = "0.1.8"

[features]
default = []
derive-codec = ["parity-codec", "parity-codec-derive"]
