name: Cargo deny
on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
  schedule:
    - cron: '0 0 * * *'
jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: EmbarkStudios/cargo-deny-action@v1
